<div class="navbar fixed-top">
  <div class="logo"><br>
<p> B R A N  /></p>
  </div>
  <div class="content">
    <ul>
      <li><a href="#sendmeMessage">Contacto</a></li>
      <li><a href="#Portafolio">Protafolio</a></li>
      <li><a href="#acercadeMi">Acerca de mi </a></li>
      <li><a href="#Inicio">Inicio</a></li>
      
    </ul>
  </div>
</div>

<div class="containerMain" id="Inicio">



    <div class="home">
  
      <div class="infoL" >
          <h1 class="message">Hola a todxs 👋🏽, me llamo</h1>
          <p class="myName">Brandon Cruz</p>
          <p class="work">Desarrollador Front-End 🖥️</p>
          <p class="myInfo">
            <img src="../assets/mail.svg" alt=""  width="20px" height="20px">
            <a href="mailto:brandoncruz1016@gmail.com" style="text-decoration: none; color:black">brandoncruz1016@gmail.com</a>
          </p>
          <p class="myInfo">
            <img src="../assets/phone.svg" alt="" width="20px" height="20px">
            <a href="https://wa.me/5584396956" style="text-decoration: none; color:black" target="_blank">+51 5584396956</a>
          </p>
          <br>
          <p class="contactNet">
            <a href="https://github.com/brandonc16" target="_blank">
              <img src="../assets/GitHub.svg" alt="" width="40px" height="40px">
            </a>
            <a href="https://www.linkedin.com/in/brandoncs16/" target="_blank" width="40px" height="40px">
              <img src="../assets/in.svg" alt="" width="40px" height="40px">
            </a>
          </p>
        
      </div>
          <div class="Photo">
              <img style="width: 25rem;"
              src="../assets/me1.jpg" alt="">
            </div>
    </div>

  

    <div class="myExperience">
      <div class="yearExperience">
        <div class="logoExp">
          <img src="../assets/exp.svg" alt="">
        </div>
        <span style="font-size: 2 rem; font-weight: 600;">3 Años  <p style="color:  #9CC7E8; font-size: .9rem; font-weight: 700;margin-bottom: 0; margin-top: 0.2rem;">
          Experiencia</p></span>
  
      </div>
      <div class="line"></div>
      <div class="yearExperience">
        <div class="logoExp">
          <img src="../assets/develop.svg" alt="">
        </div>
        <span style="font-size: 2 rem; font-weight: 600;">6 proyectos  <p style="color:  #9CC7E8; font-size: .9rem; font-weight: 700;margin-bottom: 0; margin-top: 0.2rem;">
          Completados</p></span>
  
      </div>
    </div>

  

    <div class="containerAboutMe" id="acercadeMi">
        <div class="yearExperience">
            <img style="width: 19rem;"
            src="../assets/aboutMe.png" alt="">
        </div>
      <div class="yearExperiencie">
        <h1 class="tittleBoutMe" style="font-size:60px">Sobre mi</h1><br>
        <p style="text-align:justify">Disfruto del arte de la programación y encuentro gran satisfacción
           en abordar y resolver desafíos de desarrollo, ya sea de manera individual
            o colaborativa en equipos de trabajo. Mi compromiso es ofrecer siempre 
            lo mejor de mí en cada proyecto que emprendo.
        </p>
        <p style="text-align:justify">Cultivo una actitud de aprendizaje continuo, nutriéndome constantemente de la experiencia y conocimientos
           de mis colegas. No titubeo en solicitar ayuda y realizar 
           preguntas cuando sea necesario, reconociendo que el intercambio 
           de ideas y la colaboración son fundamentales para el crecimiento
           profesional y la excelencia en el desarrollo frontend.
        </p> <br><br>
      

          <a class="cv" href="https://drive.google.com/file/d/17yK8mgNMv41yXrHMBzsxsCY2RpJCnWTr/view?usp=drive_link" target="_blank" 
          style="text-decoration:none;" rel="noreferrer" >Mi CV</a>

      </div>
    </div>
  
  <div class="containerSoftKills">
    <div class="tittleSF">
      <h2 style="color: #9CC7E8 ; font-size: 40px;">Habilidades blandas</h2>
    </div>
    <div class="line1"></div>
  </div>


  <div class="viewSF">
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/softSkills/1.png" alt="">
      </div>
      <p>Trabajo en equipo y liderazgo</p>
    </div>
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/softSkills/2.png" alt="">
      </div>
      <p>Pensamiento critico </p>
    </div>
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/stresscontrol.svg" alt="">
      </div>
     <p> Gestion de estres </p>
    </div>
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/softSkills/4.png" alt="">
      </div>
      <p>Autodidacta</p> 
    </div>
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/softSkills/5.png" alt="">
      </div>
   <p>Proactivo</p>  
     </div>
    <div class="cardsSF">
      <div class="cardImg">
        <img src="../assets/softSkills/1787449511622443168.svg" alt="">
      </div>
      <p>Adaptabilidad</p> 
    </div>
    
  </div>
 

  <div class="containerSoftKills">
    <div class="tittleSF">
      <h2 style="color: #9CC7E8 ; font-size: 40px;">Habilidades técnicas</h2>
    </div>
    <div class="line1"></div>
</div>

<div class="viewSk">
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/angular.svg" alt="">
    </div>
    <p>Angular</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/ionic.svg" alt="">
    </div>
    <p>Ionic</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/ts.svg" alt="">
    </div>
    <p>TypeScript</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/angular.svg" alt="">
    </div>
    <p>Angular Mat</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/react.svg" alt="">
    </div>
    <p>React</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/js.svg" alt="">
    </div>
    <p>JavaScript</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/html.svg" alt="">
    </div>
    <p>HTML</p>
  </div>
  
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/css.svg" alt="">
    </div>
    <p>CSS</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/bootstrap.svg" alt="">
    </div>
    <p>Bootstrap</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/saas.svg" alt="">
    </div>
    <p>Saas</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/tailwind.png" alt="">
    </div>
    <p>Tailwind</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/git.svg" alt="">
    </div>
    <p>Git</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/npm.svg" alt="">
    </div>
    <p>NPM</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/vue.svg" alt="">
    </div>
    <p>VUE</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/GitHub.svg" alt="">
    </div>
    <p>GitHub</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/nodejs.svg" alt="">
    </div>
    <p>NodeJs</p>
  </div>
  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/net.png" alt="">
    </div>
    <p>.NET</p>
  </div>

  <div class="cardsSk">
    <div class="cardImg">
      <img src="../assets/technologies/aws.svg" alt="">
    </div>
    <p>AWS</p>
  </div>
</div>

</div>
<div class="projectIdea">

<div class="containerMain"><br>
  <h1>¿Tienes algún proyecto en mente?</h1>
  <p>Con mucho gusto estoy disponible para poder ayudarte <br> <a href="mailto:brandoncruz1016@gmail.com" style=" color:rgb(143, 143, 143)">Contactame</a> para formar un gran equipo 🤩</p>
</div>
</div>

<div class="containerMain" style="text-align: center;">
 
  <div class="containerTeam">
<!--   
   <h1>Mi equipo de trabajo</h1>  <div class="teamView" >
      <div class="teamCards">
        <img src="../assets/team/cintya.jpg" alt="">
        <h3>Cintya A. Vivanco</h3>
        <p>Desarrolladora FullStack</p>
        <a href="">Sitio Web</a>
      </div>
      <div class="teamCards">
        <img src="../assets/team/oscar.jpg" alt="">
        <h3>Oscar Rodriguez</h3>
        <p>Desarrollador FullStack</p>
        <a href="">Sitio Web</a>
      </div>
      <div class="teamCards">
        <img src="../assets/team/neri.jpg" alt="">
        <h3>Giovanni Neri</h3>
        <p>Desarrollador FullStack</p>
        <a href="">Sitio Web</a>
      </div>
  
    </div> -->

  </div>
  <div class="containerPortafolio" id="Portafolio">
    <h1 style="font-size:65px">Portafolio</h1>

    <div class="viewPortafolio">
      <div class="cardPortafolio">
        <img  class="imgPortafolio" src="../assets/asea.png" alt="" style="border-radius: 15px;">
        <div  style="margin: 20px;">
         <br>  <br><br>
          <p>Plataforma para crear un flujo en base a un formulario para generar una sesion informativa o reunion audiencia en donde diferentes unidades administrativas podian asistir y en base a eso definir si era de su competencia y podia atender la sesión
          </p>
          <div>
            <span class="tecnologies">Angular v16</span>
            <span class="tecnologies">TypeScript</span>
            <span class="tecnologies">Bootstrap</span>
            
          </div>
        </div>
      </div>

      <div class="cardPortafolio">
        <img  class="imgPortafolio" src="../assets/TelevisaU.png" alt="" style="border-radius: 15px;">
        <div  style="margin: 20px;">
       
          <p>Plataforma que
            permitió a los usuarios del sistema, realizar operaciones relacionadas con
            la Clasificación de Ingreso en los diferentes Segmentos, Conceptos,
            Regiones/Divisiones.</p>
          <div>
            <span class="tecnologies">Angular v16</span>
            <span class="tecnologies">TypeScript</span>
            <span class="tecnologies">Angular Material</span>
            
          </div>
        </div>
      </div>
      <div class="cardPortafolio"> 
        <img src="../assets/techreo.jpg" alt="" style="border-radius: 15px;">
        <div style="margin: 20px;">
          <br>
          <p>Mantenimiento de la aplicacion movil, creacion de formularios, servicios, procedimientos almacenados, controladores, gestion de metadatos</p>
          <div>
            <span class="tecnologies">IONIC</span>
            <span class="tecnologies">TypeScript</span>
            <span class="tecnologies">CSS</span>
            
          </div>
        </div>
      </div>
      <div class="cardPortafolio">
        <img src="../assets/gosmart.png" alt="" style="border-radius: 15px;">
        <div style="margin: 20px;">
          <br><br><br> <br>
          <p>Aplicación movil que permitia a usarios pedir medicina a domicilo y en base la ubicación mostraba en stock de farmacia mas cercana</p>
          <div>
            <span class="tecnologies">IONIC</span>
            <span class="tecnologies">TypeScript</span>
            <span class="tecnologies">CSS</span>
            
          </div>
        </div>
      </div>
      <div class="cardPortafolio">
        <img src="../assets/greenRecovery.jpeg" alt="" style="border-radius: 15px;">
        <div><br><br><br> <br>
         
          <p>Rediseño de aplicacion y gestion de mejoras visuales , como la implementacion de un feed de X </p>
          <div>
            <span class="tecnologies">Vue</span>
            <span class="tecnologies">JavaScript</span>
            <span class="tecnologies">CSS</span>
            
          </div>
        </div>
      </div>

      <div class="cardPortafolio">
        <img  class="imgPortafolio" src="../assets/hackademy.jpg" alt="" style="border-radius: 15px;">
        <div  style="margin: 20px;">
         <br>
          <p>Aplicacion Web que permitio al cliente una buena gestion de la aplicacion creando de Destinos
            turisticos , Categorias, Subcateogrias y Noticias para mostrarle al usuario en base a su localicacion
            lugares turisticos para conocer asi como restaurantes y noticias de lo que estaba pasando en el
            estado</p>
          <div>
            <span class="tecnologies">Angular</span>
            <span class="tecnologies">TypeScript</span>
            <span class="tecnologies">CSS</span>
            
          </div>
        </div>
      </div>
    </div>
</div>


<div class="contacto">
<h1 style="font-size:65px">Contacto</h1>
</div>

 </div> 
 <div class="projectIdea" id="sendmeMessage">

  <div class="containerMain"><br>
    <h3>Me gustaría formar parte de tu equipo🤩 </h3>
    Enviame correo:
    <a style="color: white; text-decoration: none;" href="mailto:brandoncruz1016@gmail.com"><strong>brandoncruz1016@gmail.com</strong></a>
    
  </div>
  </div>